@font-face {
    font-family: 'Licorice';
    src: url('Licorice-Regular.woff2') format('woff2'),
        url('Licorice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

